<div class="pages">
  <%= page_entries_info @places, entry_name: 'item' %>
</div>
<% @places.each do |place| %>
  <div class="booyah-box col-10 offset-1">
    <h1><%= link_to place.name, place_path(place), style: 'text-decoration: none; color: #c2c1c0' %></h1>
    <i><%= place.address %></i><br /><br />
    <p><%= place.description %></p><br />

    <% if place.user.present? %>
      <small><%= place.user.email %></small>
    <% end %>
  </div>
<% end %>
<div class="pages">
  <%= paginate @places %>
</div>